@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Привет</h1>
    <p>Попали на мою страницу? Меня зовут Григорьев Даниил, студент 4 курса НГТУ. Можете ознакомится с моим <a href="https://github.com/Danich27rus">гитхабом</a>. Мечтаю стать разноплановым разработчиком, чтобы мог с лёгкостью писать и десктопные, и Web приложения</p>
</div>
