@{
    ViewData["Title"] = "Загрузка архивов по Москве";
}
<h1 class="display-4">@ViewData["Title"]</h1>

<p>Страница для загрузки архивов по Москве</p>
<h3 class="display-4">Выберите файл для загрузки</h3>
<form asp-action="LoadArchives" asp-controller="Home" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadedFile" /><br>
    <input type="submit" value="Загрузить" />
</form>

@if (ViewData["Error"] != null)
{
    <p>@ViewData["Error"]</p>
}