@{
    ViewData["Title"] = "Прсмотр информации из архивов";
}

<div class="text-center">
    <h1 class="display-4">Да</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core"></a>ДА!</p>
</div>
